{% extends 'login_base.html' %}

{% block head %} <title>Microanalisis</title> {% endblock %}

{% block body %}
    <div class ="container" style="width:70%; margin:auto; border: 7px solid #3b8f42; padding:5%; margin-top:3%; border-radius: 25px">
        <form class="password" action=" {{ url_for('auth.confirm_email',token=token) }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleFormControlInput112" class="form-label">Contrase&ntildea</label>
                <input type="password" class="form-control" id="exampleFormControlInput112" name="new_pass1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput113" class="form-label">Confirmar Contrase&ntildea</label>
                <input type="password" class="form-control" id="exampleFormControlInput113" name="new_pass2" required>
            </div>
            
            <div class="col-12" style="margin-top:10px">
                <button class="btn btn-primary" type="submit">Cambiar Contrase&ntildea</button>
            </div>
            
        </form>
    </div>
{% endblock %}